body {
  margin: 0;
  padding: 0;
}

#Map1 {
  width: 100vw;
  height: 100vw;
  position: relative;
  background-color: rgb(32, 32, 32);
  overflow: visible;
}

#Player {
  position: absolute;
  bottom: 0vw;
  left: 0;
  padding: 10px ;
  width: 50px;
  height: 30px;
  background: rgb(29, 44, 56);
  color: rgb(44, 43, 35);
  text-align: center;
  font-size: 1rem;
  border: solid rgb(57, 236, 197) 5px;
}

.ennemies {
  position: absolute;
  background: rgb(83, 78, 82);
  width: 50px;
  height: 50px;
  padding: 3px;
  bottom: : 25vw;
  left: 15vw;
  border :rgb(255, 20, 149) solid 5px;
  border-radius : 20px;
  
}
