body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#Map1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(32, 32, 32);
  overflow: hidden;
}

/* Effets de néons */
.neon-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 35, 171, 0.884),
    transparent 70%
  );
  animation: neonPulse 5s infinite alternate;
}

@keyframes neonPulse {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

#Player {
  position: absolute;
  bottom: 0vw;
  left: 0;
  padding: 10px;
  width: 50px;
  height: 30px;
  background: rgb(29, 44, 56);
  color: rgb(44, 43, 35);
  text-align: center;
  font-size: 1rem;
  border: solid rgb(57, 236, 197) 5px;
  box-sizing: border-box;
}

.ennemies {
  position: absolute;
  background: rgb(83, 78, 82);
  width: 30px;
  height: 20px;
  padding: 3px;
  bottom: 25vw;
  left: 15vw;
  border: rgb(255, 20, 149) solid 5px;
  border-radius: 20px;
}

.projectile {
  position: absolute;
  background: rgb(0, 255, 21);
  width: 5px;
  height: 5px;
  border: solid 3px rgb(57, 236, 197);
  border-radius: 50%;
  z-index: 10; /*above all the element*/
}

#livesCounter {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid rgb(57, 236, 197);
}
